

<!DOCTYPE html>
<html>
  <head>
    <title>blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css" href="./style.css"></style>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script   src="https://code.jquery.com/jquery-3.4.1.js"   integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="   crossorigin="anonymous"></script>
  
  </head>
  <body>
      
  <% if user_signed_in? %>
  <p class="name">ユーザー：<%= current_user.nickname %>さん</p>
  <ul class="nav">
    <li><a href="/new">新規投稿</a></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
  </ul>
  <% else %>
  <ul class="nav">
    <li><%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
    <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li>
  </ul>
  <% end %>
      <%= yield %>
  </body>
</html>

